/*Body Styling*/
body {
	background-color: #AD0000;
	margin-left:20%;
	/*background-image: url("../pictures/square_doily.jpg");*/
	/*background-repeat: no-repeat;
	background-size: 100% 200%;*/
}

/*Titles Styling*/
header {
	font-size: 4.5em;
}

.indexPagePic {
	max-width: 20%;
	min-width:90px;
	margin-left: 20%;
	padding: 0px;
	border-radius: 25px;
	box-shadow: 10px 10px 10px;

}

#main_welcome_message {
	background-color: red;
	width: 75%;
	margin-left: 20%;
	width: 45%;
	padding: 10px;
}

/*Navigaition Styling*/
.navigation {
	font-size: 1.2em;
	background-color: #fa0000;
	width: 75%;
}

.navigation ul {
	list-style-type: none;
	float: right;
	margin: 1px;
}

.navigation li {
	display: inline;	
}

.navigation a {
	padding: 0 30px; /*Added padding around the link to fill its parent element*/
	border-radius: 20px;
}

/*Contact Info*/
.contact {
	border: solid 3px #fa0000;
	list-style: none;
}

p, table, ul.contact{
	border-radius: 20px;
	width: 70%;
}

/*Link Styling*/
a {
	text-decoration: none;
	color: black;
}

/*Gallery*/
#imageGallery {
	margin-left: 0px;
}

#imageGallery img{
	border: solid black 1px;
	margin: .5%;
	max-height: 100px;
	min-height: 100px;
	max-width: 100px;
	min-width: 100px;
	height: 50px;
	/*margin-left: 10%;*/
	padding: none;
	border-radius: 25px;
	box-shadow: 10px 10px 10px;
}

/*Price Table*/
.price_subtitle {
	font-weight: bolder;
}

.table_seperator {
	background-color: #331a00;
	
}

#price_list{
	background-color: red;
	width: 50%;
	margin-left: auto auto auto auto;
	padding: 20px ;
}

/**/
/*Change alignment of price table for smaller screens*/
/*margin-left: -30px;*/
/**/

/*Picture Gallery Overlay Settings*/
#overlay {
	/*background fourth number is opacity*/
  background:rgba(0,0,0,.6);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;

}

#overlay img {
 margin-top: 10%;
 max-width: 70%;
 max-height: 70%;
}

.contact {
	width: 70%;
}


/*For text description of lightbox*/
/*#overlay p {
 color:white; 
}*/




































