/*New CSS File*/
/*Body Styling*/

body{
  	background-color: #AA7339;
  	font-size: 1.2em;
  	font-family: sans-serif;
  }

a{
	text-decoration: none;
	color: black;
}

#price_list {
	background-color: #FFc34e;
	width: 95%;
	border: solid #FF901B 5px;
	border-radius: 10px;
	padding: 5px;
}

.price_subtitle {
	border: solid black 1px;
	padding: 0 0 0 8px ;
	border-radius: 20px 20px 20px 20px;
	font-weight: bolder;
} 

#price_list td {
	background-color: #FFc34e;
}


.title{
	margin: auto;
	text-align: center;
}
.subtitle {
	text-align: center;
	margin: auto;
}

.indexPagePic {
	width: 100px;
	border-radius: 25px;
	box-shadow: 10px 10px 10px;
	display: block;
	margin: auto;
}

#main_welcome_message {
	box-shadow: 10px 10px 10px;
	border: dotted;
	width: 94%;
	margin: auto;
	margin-top: 5%;
	border-radius: 15px;
	padding: 3px;
	border: dashed #FF901B 2px;
	background-color: #FFc34e;
}

header {
	font-size: 2em;
	padding: 0 0 0 0;
	/*margin: -5% 0 0 -5%;*/
		margin: auto;
	text-align: center;
}

.navigation {
	margin: 3% 0 % 0;
	text-align: center;
	padding: auto;
	border: dashed #FF901B 2px;
	border-radius: 20px;
	background-color: #FFc34e;
}
 .navigation a {
 	/*border: solid black 1px;*/
 	padding: 0 40px;
 	border-radius: 20px;

 }

#imageGallery img{
	width: 145px;
	height: 145px;
	border: solid #FFc34e 2px;
	border-radius: 15px;
	margin: 1px;
}

/*Picture Gallery Overlay Settings*/
#overlay {
	background:rgba(0,0,0,.6);
	width:100%;
	height:200%;
	position:absolute;
	top:0;
	left:0;
	display:none;
	text-align:center;
	padding: 50% 0 0 0;
}

#overlay img {
	margin-top: 10%;
	max-width: 80%;
	max-height: 70%;
	vertical-align: : center;
	border-radius: 10px;
	box-shadow: 10px 10px 10px;
}

.imgCaption {
	background-color: #8bafFF;
	margin:10px auto auto auto;
	width: 50%;
	font-weight: bolder;
	border-radius: 10px;
}

.contactInfo {
	border-radius: 10px;
	text-align: center;
	border: dashed #FF901B 2px;
	background-color: #FFc34e;
}

.contactInfo li {
	list-style: none;
	margin: 0 0 0 -5%;
}

/*Form Settings*/
input, textarea, .formButtons{
	font-family: inherit;
	font-size: inherit;
}

legend {
	margin: 0 0 0;
	font-weight: bold;
	text-decoration: underline;

}

.labels {
	float: left;
	margin: 0 0 0 10%;
}

.mainForm {
	padding: 10px 0 0 0 0;
	border: solid #8bafFF 1px;
}

input, textarea{
	width: 80%;
	border-radius: 5px;
	padding: 5px;
}

.formButtons {
	border-radius: 5px;
	margin: auto 5%;
}


/*Sets pages for laptop or desktop displays*/
@media (min-width: 400px){
	body {
		font-size: 1.4em;
	}

	.blurb {
	text-align: center;
	text-decoration: underline;
	/*margin: auto;*/
	}

	.navigation {
	margin: 0 30% 0;
	text-align: center;
	padding: 10px;
	border: dashed #FF901B 2px;
	border-radius: 20px;
	background-color: #FFc34e;
	}

 	.navigation a {
 	padding: 0 40px;
 	border-radius: 20px;

	}

 	#main_welcome_message {
	box-shadow: 10px 10px 10px;
	border: dotted;
	width: 50%;
	margin-top: 5%;
	border-radius: 15px;
	padding: 10px;
	border: dashed #FF901B 2px;
	background-color: #FFc34e;
	}

	.indexPagePic {
	width: 20%;
	border-radius: 25px;
	box-shadow: 10px 10px 10px;
	display: block;
	margin: auto auto -3% auto;
	}
	
	#imageGallery {
		
		text-align: center;
	}

	/*Picture Gallery Overlay Settings*/
	#overlay {

		width:100%;
		height:100%;
		text-align:center;
		padding: 0 0 0 0;
	}

	#overlay img {
		margin-top: 10%;
		max-width: 80%;
		max-height: 70%;
		vertical-align: : center;
		border-radius: 10px;
		box-shadow: 10px 10px 10px;
	}

	/*The text that will appear under the image*/
	.imgCaption {
		background-color: #8bafFF;
		margin:10px auto auto auto;
		width: 10%;
		font-weight: bolder;
		border-radius: 10px;
	}

	textarea{
		height: 3em;
	}

	#mainForm {
		margin: auto;
		width:40%;
	}
}
/*End of larger display setting*/

legend {
	margin: auto;
	padding: 20px 0 0 0;
}

